<app-banner></app-banner>

<!-- Liens de navigation -->

  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a><br />
    <a routerLink="/afficher" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Affichage</a><br />
    <a routerLink="/ajouter" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ajout</a><br />
  </nav>
  

<!-- Emplacement des composants routés -->
<router-outlet></router-outlet>

<app-footer></app-footer>
